/*
	Installed from https://reactbits.dev/default/
*/

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 0;
  font-weight: 600;
  word-spacing: 0;
}

.word {
  display: inline-block;
}
