.aboutSection > div{
    background-color: var(--pry_clr);
    padding: 15px;
    position: relative;
    border: .3px solid rgba(255, 255, 255, 0.135);
    backdrop-filter: blur(10px);
}

.aboutSection *{
    font: var(--bodyText);
    color: var(--txt-l-color);
    font-size: var(--BodyTextFontSize);
}

/* TO STYLE THE SCROLLFLOAT COMPONENT */

.aboutSection .heading > * > *{
    font-size: var(--HeadingFontSize);
    font-weight: bold;
    margin-bottom: -35px;
}

[data-social-logo]{
    margin-top: 10px;
    height: max-content;
    width: max-content;
    align-self: left;
}