.portfolio{
    width: 100%;
    text-align: center;
    color:  var( --txt-l-color);
    background-color: var(--services-sec-bg);
}

.portfolio *{
    color: var(--txt-l-color);
    font: var(--bodyText);
}

.portfolio .custom-spotlight-card{
    width: 100%;
    height: 100%;
}


.portfolio h3{
    font-size: var(--HeadingFontSize);
    font-weight: bold;
    margin-bottom: 9px;
}


.projectList{
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(200px, 30vw, 250px));
    justify-content: center;
    gap: clamp(5px, 3vw, 15px);
    box-sizing: border-box;
}

.itemwrapper{
    width: max-content;
}

.projectItems{
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.172);
    border: 1px solid rgba(255, 253, 253, 0.286);
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}


.projectItems:hover{

}

.projectItems:hover img{
    transition: .5s; 
    scale: 1.05;
    
}

.projectItems img{
    width: 100%;
    margin: auto 100px;
}

.projectActionButton{
    width: max-content;
    height: max-content;
}

@media(max-width: 740px){
    .projectList{
        padding: 5px;
        width: 100vw;
    }
}