.portfolio{
    width: 100%;
    text-align: center;
    color:  var( --txt-l-color);
    background-color: var(--services-sec-bg);
}

.portfolio *{
    color: var(--txt-l-color);
    font: var(--bodyText);
}



.portfolio .custom-spotlight-card{
    width: 100%;
    height: 100%;
}


.portfolio h3{
    font-size: var(--HeadingFontSize);
    font-weight: bold;
    margin-bottom: -6px;
    max-width: 730px;
}

.portfolio > h3 + div{
    font-size: smaller;
    width: 100%;
    max-width: 530px;
    margin-left: -1.25vw;
    text-indent: clamp(0px 9vw 90px);
    text-align: right;
} 


.projectList{
    padding: 10px;
    padding-top: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(200px, 30vw, 320px));
    justify-content: center;
    gap: clamp(5px, 3vw, 15px);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.645);

    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 200;
    inset: 0;
    overflow: scroll;
    height: 100vh;
    padding-bottom: 50px;
  
}

.itemwrapper{
    width: max-content;
    max-width: 100%;
}

.projectItems{
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.172);
    border: 1px solid rgba(255, 253, 253, 0.286);
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}

.projectItems::after{
    content: "Image loading...";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projectItems:hover{
    transition: .5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.448);
    background-color: rgba(255, 255, 255, 0.204);
}

.projectItems:hover img{
    transition: .5s; 
    scale: 1.05;
    
}

.projectItems img, .projectItems video{
    width: 100%;
    object-fit: contain;
}

div:has( > * >.projectActionButton){
    width: 100%;
    display: flex;
    gap: 10px;
}

.back{
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--txt-l-color);
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px 15px;
    width: max-content;
    max-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    background: #1c1c1e; /* Very dark grey */
    box-shadow:
        6px 6px 14px rgba(255, 0, 238, 0.163),
    -6px -6px 14px rgba(72, 0, 255, 0.05);
    transition: all 0.3s ease;
}

.back:hover{
    box-shadow:
    inset 6px 6px 14px rgba(63, 62, 62, 0.7),
    inset -6px -6px 14px rgba(255, 255, 255, 0.05);
    color: #ff69b4; /* Hot pink or any highlight color */
    transform: translateY(-2px) scale(1.03);
}


.back svg{
    width: 20px;
    height: 20px;
    color: var(--txt-l-color);
}  

.projectActionButton{
    width: max-content;
    height: max-content;
    aspect-ratio: 4/2;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seemore *{
    width: 100%;
    font-size: 13px;   
}

.projectItems small{
    font-size: 0.8rem;
    color: var(--txt-l-color);
    margin-top: 5px;
    display: block;
    word-spacing: 1.2;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    line-height: 1.2;
    font-weight: 400;
    max-width: 400px;
    margin-left: 15px;
    text-align: left;
    text-overflow: ellipsis;
}

 

 
 




@media(max-width: 740px){
    .projectList{
        width: 100vw;
    }
    
    .portfolio h3{
         text-align: left;
         margin-left: 40px;
    }

    .portfolio > h3 + div{ 
        text-indent: 0;
        text-align: left;
        margin-left: 40px;
    } 

   .projectActionButton{
        width: max-content;
        height: max-content;
        aspect-ratio: 4/2;
        min-width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projectItems small{
        display: none;
    }

}